*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.back {
    width: 600px;
    height: 600px;
    background-color: black;
    margin: 15px auto;
    box-shadow: 0 0 2px 2px rgb(236, 224, 224)
}

.one {
    width: 25%;
    height: 10%;
    background-color: gray;
    float: left;
}

.two {
    width: 35%;
    height: 10%;
    background-color: bisque;
    margin: auto;
    margin-left: 27%;
}

.three {
    width: 25%;
    height: 10%;
    background-color: rgb(228, 198, 67);
    float: right;
    margin: auto;
    margin-right: 2%;
}

.four {
    width: 9%;
    height: 78%;
    background-color: blanchedalmond;
    float: right;
}

.five {
    width: 9%;
    height: 25%;
    background-color:rgb(248, 244, 244);
    margin-top: 14px;
    float: left;
}

.six {
    width: 50.5%;
    height: 52.3%;
    background-color: tomato;
    float: left;
    margin-top: 14px;
    margin-left: 2.5%;
}

.seven {
    width: 25%;
    height: 25%;
    background-color: rgb(228, 198, 67);
    float: right;
    margin: auto;
    margin: 2%;
    margin-top: 14px;
}

.eight {
    width: 11.5%;
    height: 25%;
    background-color: rgb(255, 255, 255);
    float: right;
    margin: 1%;
    margin-top: 1px;
    margin-right: 2%;
}

.nine {
    width: 11.5%;
    height: 25%;
    background-color: rgb(230, 221, 221);
    float: right;
    margin-top: 1px;
    margin-right: 1%;
}

.ten {
    width: 9%;
    height: 38%;
    background-color: gainsboro;
    float: left;
    margin-top: -25%;
    margin-right: 25%;
}

.eleven {
    width: 9%;
    height: 20%;
    background-color: rgb(228, 198, 67);
    margin-top: 70%;
}

.twelve {
    width: 25%;
    height: 11%;
    background-color: rgb(231, 231, 219);
    float: right;
    margin: auto;
    margin-top: 2.5%;
    margin-right: -12.5% ;
}

.thirteen {
    width: 25%;
    height: 11%;
    background-color: rgb(172, 172, 163);
    float: right;
    margin: auto;
    margin-top: 2.5%;
    margin-right: 2% ;
}

.fourteen {
    width: 25%;
    height: 9%;
    background-color: rgb(211, 213, 223);
    margin: auto;
    margin-top: -20%;
    margin-right: 38%;
}

.fifteen {
    width: 25%;
    height: 15%;
    background-color: rgb(56, 57, 161);
    margin: auto;
    margin-top: -9%;
    margin-right: 11%;
}

.sixteen {
width: 23.5%;
height: 9%;
background-color: rgb(207, 207, 200);
margin: auto;
margin-top: -4%;
margin-left: 11.5%;
}

.seventeen{
    width: 52%;
    height: 3%;
    background-color: rgb(199, 199, 199);
    margin: auto;
    margin-top: -3%;
    margin-left: 37%;
}

.eighteen{
    width: 9%;
    height: 20%;
    background-color: tomato;
    float: right;
    margin-top: -20%;
}