*{
    background-color: rgb(199, 124, 124);
}
h1{
    text-align: center;
}

p{
    text-align: center;
}

.form {
    width: 500px;
    height: 1000px;
    background-color: rgb(189, 149, 149);
    padding: 15px;
    margin: 0px auto;
    border: 2px solid white;
    border-radius: 4px;
}

.field {
    margin: 7px;
    border-radius: 3px;

}

.titlee{
    text-align: center;
}

.button {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.text {
    background-color: white;
}

.drink {
    background-color: white;
}

